---
import Header from "../components/header/Header.jsx";
import Footer from "../components/footer/Footer.jsx";
import Hero from "../components/hero/Hero.jsx";
import News from "../components/news/News.jsx";
import HeroRectangle from "../components/heroRectangle/HeroRectangle.jsx";
import HeroSquare from "../components/heroSquare/HeroSquare.jsx";
import HeroCircle from "../components/heroCircle/HeroCircle.jsx";
---

<main>
  <div class="home page__flexblock">
    <Header />
    <section class="home__section home__section--hero">
      <Hero />
      <!-- <HeroRectangle /> -->
      <!-- <HeroSquare /> -->
      <!-- <HeroCircle /> -->
    </section>
    <News />
    <Footer />
  </div>
</main>

<style lang="scss">
  @import "../styles/style.scss";
</style>
